---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import EducationIcon from "../components/icons/EducationIcon.astro";
import Educacion from "../components/Educacion.astro";
import Archivo from "../components/archivo.pdf";
import DownloadIcon from "../components/icons/DownloadIcon.astro";
import foto from "../images/fotoperfil.png";
import { Image } from "astro:assets";
---

<Layout title="" description="">
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <Image
        src={foto}
        alt="Foto de perfil"
        class="rounded-full w-16 h-16 mb-4"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Juan José <a
          href="https://linkedin.com/in/juan-josé-villar-08853623b"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span
          >Tengo 21 años, apasionado por el Desarrollo Web y todo lo relacionado
          al mundo Tech. Soy de</span
        ><span class="text-yellow-800 dark:text-yellow-200">
          Barranquilla - Colombia</span
        >, creo firmemente en el aprendizaje continuo y en la colaboracion.
      </h2>

      <nav id="contacto" class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/juan-josé-villar-08853623b">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Juanvillar07">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:jvillar747@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          jvillar747@gmail.com
        </SocialPill>
        <SocialPill download="curriculum" href={Archivo}>
          <DownloadIcon class="size-4 md:size-6" />
          Descargar CV
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="educacion">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <EducationIcon class="size-7" />
        Educacion
      </h2>
      <Educacion />
    </SectionContainer>
    <!-- <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer> -->
  </main>
</Layout>
