---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Febrero 2023 - Octubre 2023",
    title: "Practicante de Desarrollo Web - Clinica General del norte",
    empresa: "Clinica General del norte",
    description:
      "Durante mi periodo de prácticas en la Clínica General del Norte, estuve en el equipo de desarrollo, centrándome en la creación de aplicaciones, la generación de informes y la prestación de soporte técnico. Mi enfoque se centró principalmente en tecnologías clave como .NET Core, JavaScript y SQL Server.  ",
    link: "https://www.clinicageneraldelnorte.com/",
  },
];
---

<!-- <ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol> -->
<section class="py-20">
  <div class="max-w-xl mx-auto">
    <div class="text-center">
      <div class="relative flex flex-col items-center">
        <div
          class="absolute hidden md:block mt-2 -top-14 text-[80px] text-gray-400 font-bold opacity-10"
        >
          Experiencia
        </div>
        <h1
          class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-sky-100 to-sky-600"
        >
          Experiencia Laboral
        </h1>
        <div class="flex mt-1 mb-10 overflow-hidden rounded w-14">
          <div class="flex-1 h-2 bg-sky-200"></div>
          <div class="flex-1 h-2 bg-sky-400"></div>
          <div class="flex-1 h-2 bg-sky-600"></div>
        </div>
      </div>
      <!-- <p class="mb-16 text-base text-center text-gray-300 text-pretty"></p> -->
    </div>
  </div>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
      EXPERIENCIE.map((exp) => (
        <li class="mb-10 ms-6">
          <ExperienceItem {...exp} />
        </li>
      ))
    }
  </ol>
</section>
