<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span
      class="text-sm sm:text-center text-yellow-800/90 dark:text-yellow-200/90"
      ><a
        href="https://twitter.com/Juanvillar107"
        class="hover:underline"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          fill="currentColor"
          viewBox="0 0 1200 1227"
          class="space-between inline-block ml-1"
          ><path
            fill="#fff"
            d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z"
          ></path></svg
        > Juan José Villar
      </a>
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a href="#experiencia" class="hover:underline me-4 md:me-6"
          >Experiencia</a
        >
      </li>
      <li>
        <a href="#" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
